* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #765757; /* Background color of the page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Takes the full height of the viewport */
    color: white;
}

.signup-container {
    padding: 40px;
    border-radius: 8px;
    width: 100%; /* Use full width of the parent */
    max-width: 400px; /* Max width for the form */
    text-align: center; /* Center align the contents of the container */
}

.logo {
    width: 100%; /* Adjust the size of the logo */
    height: auto;
    margin-bottom: 20px; /* Space between the logo and the form */
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    width: 100%; /* Ensure it takes the full width available */
}

.input-container {
    width: 100%; /* Full width of the container */
    margin-bottom: 15px;
    text-align: left;
}

input {
    width: 100%; /* Make the input fields full width of the container */
    height: 6vh;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

input::placeholder {
    color: #aaa;
}

button {
    width: 100%; /* Make the button full width of the container */
    height: 6vh;
    padding: 10px;
    background-color: #332323; /* Button color */
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1f1414; /* Button color on hover */
}
